.Card{
  
    width: 269px;
    height: 237px;
    background-color: #FFFFFF;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.Card img{
    height: 90px;
    width: 120px;
    border-radius: 50%;

}
.Card p{
    font-weight: 400;
    color: gray;
}